.zoomin img {
  height: 200px;
  width: 200px;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
  margin-left: 40px;
}
.zoomin img:hover {
  width: 250px;
  height: 250px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  top: 20%;
  position: absolute;
  padding: 10px;
}
