.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  top: 27%;
  position: absolute;
  padding: 10px;
  z-index: -1;
}

/* table,
th,
td {
  border: 1px solid black;
} */

.styled-table {
  border-collapse: collapse;
  /* margin: 13px 0; */
  font-size: 1em;
  font-family: cursive;
  min-width: 120px;
  box-shadow: 0 0 20px rgb(35, 47, 218);
  text-align: center;
  color: #790303;
  font-weight: 20px;
  z-index: -1;
  margin-left: 30px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.blink_me {
  animation: blinker 1s linear infinite;
  font-size: 78px;
  font-family: cursive;
  color-adjust: 30px;
  color: #790303;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
